<%- include('../partials/head') %>

<h2>Ingrese datos del producto</h2>
<form action="/productos" method="post">
  <label for="title">Producto</label>
  <input type="text" name="title" id="title" />
  <label for="price">Precio</label>
  <input type="number" name="price" id="price" />
  <label for="thumbnail">Imágen</label>
  <input type="text" name="thumbnail" id="thumbnail" />
  <button>Enviar</button>
</form>
<button><a href="/productos">Ver los productos</a></button>
</body>
</html>